<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
<pre>data = {{ data | json }}
form.value = {{ form.value | json }}
form.status = {{ form.status }}
form.pristine = {{ form.pristine }}
form.dirty = {{ form.dirty }}
form.touched = {{ form.touched }}
form.untouched = {{ form.untouched }}
form.enabled = {{ form.enabled }}
form.disabled = {{ form.disabled }}
form.valid = {{ form.valid }}
form.invalid = {{ form.invalid }}
form.errors = {{ form.errors | json }}
f.submitted = {{ f.submitted }}</pre>
            <form class="user" [formGroup]="form" #f="ngForm" (ngSubmit)="doSubmit()">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user"
                         placeholder="First Name"
                         [class.is-invalid]="fc('firstName').dirty && fc('firstName').invalid"
                         formControlName="firstName">
                    <ul [class.invalid-feedback]="fc('firstName').touched && fc('firstName').invalid"
                      *ngIf="fc('firstName').touched && fc('firstName').invalid">
                      <li *ngIf="fc('firstName').errors.required">請輸入電子郵件信箱</li>
                      <li *ngIf="fc('firstName').errors.email">請輸入合法的 E-mail 格式</li>
                    </ul>
<pre>fc('firstName').value = {{ fc('firstName').value }}
fc('firstName').status = {{ fc('firstName').status }}
fc('firstName').pristine = {{ fc('firstName').pristine }}
fc('firstName').dirty = {{ fc('firstName').dirty }}
fc('firstName').touched = {{ fc('firstName').touched }}
fc('firstName').untouched = {{ fc('firstName').untouched }}
fc('firstName').enabled = {{ fc('firstName').enabled }}
fc('firstName').disabled = {{ fc('firstName').disabled }}
fc('firstName').valid = {{ fc('firstName').valid }}
fc('firstName').invalid = {{ fc('firstName').invalid }}
fc('firstName').errors = {{ fc('firstName').errors | json }}</pre>
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-user"
                         placeholder="Last Name"
                         [class.is-invalid]="fc('lastName').dirty && fc('lastName').invalid"
                         formControlName="lastName">
                </div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control form-control-user"
                       placeholder="Email Address"
                       [class.is-invalid]="fc('email').dirty && fc('email').invalid"
                       formControlName="email">
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="password" class="form-control form-control-user"
                         placeholder="Password"
                         [class.is-invalid]="fc('password').dirty && fc('password').invalid"
                         formControlName="password">
                </div>
                <div class="col-sm-6">
                  <input type="password" class="form-control form-control-user"
                         placeholder="Repeat Password"
                         [class.is-invalid]="fc('repeatPassword').dirty && fc('repeatPassword').invalid"
                         formControlName="repeatPassword">
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-user btn-block"> Register Account </button>
              <hr>
              <button type="button" class="btn btn-google btn-user btn-block">
                <i class="fab fa-google fa-fw"></i> Register with Google </button>
              <button type="button" class="btn btn-facebook btn-user btn-block">
                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook </button>
            </form>
            <hr>
            <div class="text-center">
              <a class="small" href="forgot-password.html">Forgot Password?</a>
            </div>
            <div class="text-center">
              <a class="small" href="login.html">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
